ul.list-v.rightmenu
  li
    a
      cursor: $default,default
  li.menuLoad-Content
    a
      cursor: $pointer,pointer !important
  li.music
    .nav.volume
      .aplayer-volume-bar
        cursor: $pointer,pointer !important

.aplayer .aplayer-pic,
.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon,
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap,
.aplayer .aplayer-list ol li,
.aplayer .aplayer-list ol li .aplayer-list-author,
.aplayer .aplayer-list ol li .aplayer-list-index
  cursor: $pointer,pointer !important

.chat-app
  cursor: $default,default !important

.iziToast,
.iziToast p
  cursor: $default,default !important

.iziToast-close,
.gitter-chat-embed-action-bar-item,
.btn,
button
  cursor: $pointer,pointer !important

.aplayer .aplayer-info .aplayer-music
  cursor: $default,default !important

.aplayer .aplayer-info .aplayer-music .aplayer-title,
.aplayer .aplayer-info .aplayer-music .aplayer-author,
li
  cursor: $text,text !important

.gitter-open-chat-button
  cursor: $pointer,pointer !important

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap,
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar,
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded,
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played,
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played span,
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played span span,
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played span span svg
  cursor: $pointer,pointer !important

.aplayer-volume-wrap, .aplayer-volume-bar
  cursor: $pointer,pointer !important

iframe, .notlink
  cursor: $default,default !important