details
  &[purple]
    border-color: bgcolor($color-md-purple)
    >summary
      background: bgcolor($color-md-purple)

details[open]
  &[purple]
    border-color: alpha($color-md-purple, .3)
    >summary
      border-bottom-color: alpha($color-md-purple, .3)  

