.article h1, .article h2
  border-bottom: 1px solid rgba(180, 180, 180, 0.1);

hr
  border-bottom: 1px solid rgba(180, 180, 180, 0.1);

*:not(.highlight) >table th
  background: 1px solid rgba(180, 180, 180, 0.1)

.gutter
  background-color: #171717 !important

.highlight.cpp
  .line, .params
    color: #E4DFD7
  .keyword
    color: #57C3C2 !important
  .type
    color: #D276A3
  .built_in, .title
    color: #8ABCD1
  .number
    color: #FC6315
  .line
    .meta
      color: #57C3C2
    .meta-string,.string
      color: #F9D367
    .comment
      color: #617164 // fasd